<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Flask Showcase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="{{ url_for('main.index') }}">Flask Showcase</a>
        </div>
        <ul>
          <li><a href="{{ url_for('main.index') }}">Home</a></li>
          <li><a href="{{ url_for('main.posts') }}">Posts</a></li>
          {% if g.user %}
          <li><a href="{{ url_for('main.create_post') }}">Create Post</a></li>
          {% endif %}
          <li><a href="{{ url_for('main.about_us') }}">About us</a></li>
        </ul>
        <ul>
          {% if g.user %}
          <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
          <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('main.login') }}">Login</a></li>
          <li><a href="{{ url_for('main.register') }}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
      </div>
    </main>
  </body>
</html>